/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #00161C;
  color: #FFF;
}
@media screen and (max-width: 576px) {
  .header {
    border-bottom: 1px solid #103D4A;
  }
}
.header .container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .header .container-header {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .branch {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .nav-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .nav-items .nav-item {
    padding: 0.5rem 0;
  }
}
.nav-items .nav-link {
  color: #FFF;
  padding: 1rem;
  text-transform: capitalize;
}

.hero {
  background-color: #00161C;
  color: #FFF;
  text-align: center;
  height: auto;
}
.hero .container-hero {
  width: 95%;
}

.hero-header .hero-title {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-transform: uppercase;
}
.hero-header .hero-content .hero-content-text {
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 576px) {
  .hero-header .hero-content .hero-content-text {
    line-height: 2rem;
  }
}
.hero-header .hero-footer {
  border: 1px solid #FFF;
}
.hero-header .hero-footer .btn-plans {
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 576px) {
  .hero-header .hero-footer .btn-plans {
    border: 1px solid #FFF;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

.highlights {
  background-color: #DFE3F5;
  height: max-content;
  padding-bottom: 2rem;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .highlights .container {
    width: 100%;
  }
}
.highlights .highlights-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.highlights .highlights-btn {
  border: 1px solid #B72E2E;
  border-radius: 5px;
  color: #B72E2E;
  display: inline-block;
}
@media screen and (max-width: 576px) {
  .highlights .highlights-btn {
    padding: 6px 10px;
  }
}

.highlight {
  margin-bottom: 1rem;
}
.highlight .highlight-img {
  max-width: 542px;
}
.differential .differential-header {
  display: flex;
  flex-direction: row;
}
.differential .differential-header-img {
  width: 32px;
  height: 40px;
}

html,
body {
  background-color: #FFF;
  height: 100vh;
}

.main {
  height: 100%;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 90%;
}
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.441rem;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 1.953rem;
  }
}

img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
