.differentials{}

.differential{}


.differential-header{
  display: flex;
  flex-direction: row;
	align-items: baseline;
	padding-left: 2rem;
	.differential-header-img {
		width: 32px;
		height: 40px;
	}
  .differential-header-title  {
  }
}

  
.differential-content{
  padding-left: 2rem;
  .differential-content-text {}
}


