.differentials{}

.differential{
  .differential-header{
    display: flex;
    flex-direction: row;
    
  .differential-content{}
  .differential-content-text{}
}

.differential-header-img {
  width: 32px;
  height: 40px;
}
} 