// colors
$c-white: #FFF;
$-c-blue-light: #DFE3F5;
$-c-blue-light-2: #DFE3E5;
$c-red-dark: #B72E2E;
$c-gray-dark: #4F4C4C;
$c-gray-light: #F7F4F4;
$c-gray-medium: #D9D9D9;
    
$c-link: #0084FF;
$c-font-gray: #666;
$c-border: #103D4A;
$c-bg-footer:#333;
$c-bg-mobile: #00161C;

$c-card-start: #56CCF2;
$c-card-ultra: #B04CD9;
$c-car-mega: #E33B3B;

// fonts 
$f-openSans: 'Open Sans', sans-serif;
$f-montserrat: 'Montserrat', sans-serif;
$f-font-size: ( "normal": 1rem, "small": 1.563rem, "medium": 1.953rem, "big": 2.441rem  );
$f-weight: ( "light": 300, "medium": 400, "bold": 700 );