@import "reset";
@import "variables";
@import "responsive";
@import "header";
@import "hero";

html,
body {
  background-color: $c-white;
  height: 100vh;
}

body {
  
}

.main {
 height: 100%;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 90%;
  @include device( phone ){
    width: 100%;
  }
}

// all
a {
  text-decoration: none;
  
}

.btn {}

// titles
h1 {
  font-family: $f-montserrat;
  font-size: map-get($f-font-size , "big" );
  @include device( phone ){
    font-size: map-get($f-font-size , "medium" );
  }
}
h2 {
  
}
h3 {}